.title-main
	margin-bottom 10%
	font-size $font-size-l
	line-height $line-height-default-s
	
	color $color-secondary
	
	overflow hidden
	
	+above($media-s)
		font-size ($font-size-l * 1.2)
		line-height $line-height-default-s
		
	+above($media-m)
		font-size ($font-size-xl / 1.2)
	
	+above($media-xl)
		font-size $font-size-xl
		line-height $line-height-l