.button
	display inline-block		
	width 100%
	padding 9% 10%
	
	font-family $font-family-secondary-normal
	font-size $font-size-s
	line-height $line-height-default
	text-decoration none
	text-transform uppercase
	letter-spacing $space-xxxxxs
	
	color $color-secondary
	border 1px solid $color-secondary
	border-radius 0
	background transparent
	
	cursor pointer

	&:hover
		background $color-secondary
		color black
		transition all $transition-default
	
	&:active
		background transparent
