@font-face
	font-family 'GilroyMedium'
	src url('../assets/fonts/Gilroy/GilroyMedium.woff2') format('woff2'),
			url('../assets/fonts/Gilroy/GilroyMedium.woff') format('woff'),
			url('../assets/fonts/Gilroy/GilroyMedium.ttf') format('truetype')
	font-style normal
	font-weight 500

@font-face
	font-family 'GilroySemiBold'
	src url('../assets/fonts/Gilroy/GilroySemiBold.woff2') format('woff2'),
			url('../assets/fonts/Gilroy/GilroySemiBold.woff') format('woff'),
			url('../assets/fonts/Gilroy/GilroySemiBold.ttf') format('truetype')
	font-style normal
	font-weight 600

@font-face
	font-family 'OsnovaProNormal'
	src url('../assets/fonts/OsnovaPro/OsnovaPro.woff2') format('woff2'),
			url('../assets/fonts/OsnovaPro/OsnovaPro.woff') format('woff'),
			url('../assets/fonts/OsnovaPro/OsnovaPro.ttf') format('truetype')
	font-style normal
	font-weight 400
	
@font-face
	font-family 'OsnovaProBold'
	src url('../assets/fonts/OsnovaPro/OsnovaProBold.woff2') format('woff2'),
			url('../assets/fonts/OsnovaPro/OsnovaProBold.woff') format('woff'),
			url('../assets/fonts/OsnovaPro/OsnovaProBold.ttf') format('truetype')
	font-style normal
	font-weight 700



/*
	Нартание шрифтов:
	100 — тонкое начертание;
	200 — сверхсветлое;
	300 — светлое;
	400 — нормальное (аналогично normal);
	500 — среднее (medium);
	600 — полужирное (semiBold);
	700 — жирное (аналогично bold);
	800 — сверхжирное;
	900 — тяжёлое.
*/