// $pathToTemplateImages = '../assets/img/template/'
$leftFieldOfMainContainer = 6.3%
$rightFieldOfMainContainer = 5.3%
$maxWidthOfMainContainer = 1920px

/*-------------------------------------*/

// COLORS

$white = #fff
$blue = #283593
$deep-blue = #131a57
$light-blue = #b7c0ff

$color-default = $blue
$color-main = $light-blue
$color-primary = $deep-blue
$color-secondary = $white


// $color-light-background = lighten($deep-blue, 95%)


/*-------------------------------------*/

// FONTS

$font-family-main-medium = 'GilroyMedium', Arial, 'Helvetica CY', sans-serif
$font-family-main-semibold = 'GilroySemiBold', Arial, 'Helvetica CY', sans-serif
$font-family-secondary-normal = 'OsnovaProNormal', Arial, 'Helvetica CY', sans-serif
$font-family-secondary-bold = 'OsnovaProBold', Arial, 'Helvetica CY', sans-serif

$line-height-l = 114px
$line-height-m = 85.48px
$line-height-s = 30px
$line-height-default = 1.25
$line-height-default-s = 1


// 18 / 30 / 58 / 104.67 px
$font-size-xl = 10.467rem
$font-size-l = 5.8rem
$font-size-m = 3rem
$font-size-s = 1.8rem
$font-size-xs = 1.6rem


/*-------------------------------------*/

// SPACING
/* bases 10px, ratio 1.3 */

$space-xxxxxl = 70px
$space-xxxxl = 65px
$space-xxxl = 60px
$space-xxl = 55px
$space-xl = 50px
$space-l = 48px
$space-m = 40px
$space-s = 35px
$space-xs = 30px
$space-xxs = 25px
$space-xxxs = 20px
$space-xxxxs = 15px
$space-xxxxxs = 5px


/*-------------------------------------*/

// ANIMATION

// $box-shadow-hover = 0 0 0 1px $color-brand
// $scale-hover-default = 1.04
$transition-default = 0.5s


/*-------------------------------------*/

// Z-INDEXES
$z-hero = 1000
$z-brain = 500
$z-bg-layer = 300
$z-video = 100

/*-------------------------------------*/

// Media

/* 
Вызов:
+above(measure) — if > 
+below(measure) — if < 
*/

$media-xl = 1200px
$media-l = 992px
$media-m = 768px
$media-mobil-menu-is-hidded = 768px
$media-s = 544px
$media-xs = 320px











