.brain
	position fixed
	top 50%
	left 50%	
	z-index $z-brain
	
	display block
	width 47%

	transform translate(-50%, -50%) scale(0)

	+below($media-mobil-menu-is-hidded)
		display none
	
	&__inner
		position relative
		
		display block
		padding-top 100%
	
	&__pic
		position absolute
		top 0
		left 0
		
		display flex
		width 100%
		height 100%
		
		overflow hidden
	
	&__himself
		width 50%
		height auto
		margin auto
		
		fill $color-default
	
	&__gear
		fill $color-main
