.logo
	margin-bottom 2%

	font-family $font-family-secondary-bold
	font-size $font-size-m
	line-height $line-height-default
	
	color $color-default
	text-decoration none
	text-transform uppercase
	letter-spacing $space-xxxxs